<!-- <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

<security:http auto-config="true">

		<security:intercept-url pattern="/admin"
			access="hasRole('ROLE_ADMIN')" />
			
			
		<security:intercept-url pattern="/myCart**"
			access="hasRole('user')" />
		
			
		

		<security:form-login username-parameter="email" login-page="/login1" login-processing-url="/perform-Login" default-target-url="" 
			password-parameter="password"  authentication-failure-url="/loginError"  />

		 <security:access-denied-handler
			error-page="/accessDenied" /> 
		 <security:csrf /> 

		<security:logout logout-url="/logout" /> 

		<security:form-login  />
	</security:http>
	<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="select email, password, 'true' as enabled from user where email=? "
				authorities-by-username-query="select email, role from user where email=?" />
		</security:authentication-provider>
	</security:authentication-manager>
</beans>
 -->